.about-container {
    -fx-background-image: url("../../background-about.png");
}

* {
    -fx-font-family: "B612";
}

.label {
    -fx-text-fill: black;
}

.h1 {
    -fx-font-family: "B612";
    -fx-font-size: 47;
    -fx-font-weight: bold;
}

.h1 .text {
    -fx-font-smoothing-type: gray;
}

.h2 {
    -fx-font-size: 18;
}

.h2 .text {
    -fx-font-smoothing-type: gray;
}

.white {
    -fx-text-fill: white;
}

.hl {
    -fx-underline: true;
    -fx-cursor: hand;
}

.hl:hover {
    -fx-text-fill: #222222;
}


.hyperlink-label {
    -fx-text-fill: white;
    -fx-underline: true;
    -fx-cursor: hand;
}

.hyperlink-label:hover {
    -fx-text-fill: #dddddd;
}
