.about-container {
    -fx-background-color: white;
    /*-fx-background-color: #2B2313;*/
    /*-fx-effect: -vatsim-dropshadow;*/
}

.label {
    -fx-text-fill: black;
    /*-fx-text-fill: #5f553d;*/
}

.h2 {
    -fx-font-size: 18;
}

.h1 {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.hl {
    -fx-underline: true;
    -fx-cursor: hand;
}

.hl:hover {
    -fx-text-fill: #222222;
}