* {
    -twitch: #9146FF;
}

.twitch-container {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, -vatsim-background-color-light, -twitch);
    -fx-background-radius: 0 10 10 0;
    -fx-background-insets: 0 10 0 0;
    -fx-cursor: hand;
}

.twitch-container:hover {
    -fx-background-color: -twitch;
}

.twitch-container .header-label {
    -fx-text-fill: white;
}

.header-pane .live-dot {
    visibility: hidden;
}

.twitch-container .live-dot {
    -fx-text-fill: red;
    visibility: visible;
}

.header-pane .live-twitch-logo {
    visibility: hidden;
}

.twitch-container .live-twitch-logo {
    -fx-icon-color: -twitch;
    visibility: visible;
}

.twitch-container:hover .live-twitch-logo {
    -fx-icon-color: white;
    visibility: visible;
}