* {
    -vatsim-background: #17130a;
}

.button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: red;
}

.menu-bar {
    -fx-background-color: transparent;
}

.menu * {
    -fx-text-fill: white;
}

.container {
    -fx-background-color: -vatsim-background;
}
