<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property
                name="LOG_PATTERN"
                value="%d{DEFAULT} %style{%highlight{%-5level}{TRACE=white}}{reverse} [%10.10r] --- [%25t] %style{%-45.45logger{1.}}{magenta} : %style{%msg%n}{dim}"/>
    </Properties>
    <Appenders>
        <Console
                name="Console"
                target="SYSTEM_OUT">
            <PatternLayout
                    pattern="${LOG_PATTERN}"
                    disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>