<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--            <PatternLayout pattern="%d [%t] %highlight{%-5level: %msg%n%throwable}{TRACE=white}" disableAnsi="false"/>-->
            <PatternLayout
                    pattern="%d{DEFAULT} %style{%highlight{%-5level}{TRACE=white}}{reverse} [%10.10r] --- [%25t] %style{%-45.45logger{1.}}{magenta} : %style{%msg%n}{dim}"
                    disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>