.list-cell {
    -fx-padding: 0px;
    -fx-background-color: -vatsim-background-color-very-light;
}

.list-cell:even {
    -fx-background-color: derive(-vatsim-background-color-very-light, 2%);
}

.list-view,
.list-view:focused {
    -fx-padding: 0;
    -fx-background-color: -vatsim-background-color-very-light;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}