.root {
    -vatsim-background-color: #0E0C06;
    -vatsim-background-color-light: #17130a;
    -vatsim-background-color-very-light: #2B2313;
    -vatsim-background-color-very-light-25: #2B231340;
    -vatsim-background-color-very-very-light: #392e19;
    -vatsim-background-color-very-very-very-light: #42351D;
    -vatsim-text-color-dark: #52482F;
    -vatsim-text-color: #5f553d;
    -vatsim-error-color: #5f1d1d;
    -vatsim-text-color-light: #746A53;
    -vatsim-text-greyed-out: #919191;
    -vatsim-toolbar-button-size: 24px;
    -vatsim-toolbar-button-icon-size: 20px;
    -vatsim-dropshadow: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
    -fx-font-family: "B612";
}

.vatsim-font {
    -fx-text-fill: -vatsim-text-color;
}

.context-menu-drop-shadow-holder {
    -fx-background-color: -vatsim-background-color-very-light;
    -fx-effect: -vatsim-dropshadow;
}

.description {
    /*-fx-font-weight: bold;*/
}

.button:hover {
    -fx-background-color: -vatsim-background-color-very-light;
}

.table-row-cell {
    -fx-padding: 0;
}

.table-cell {
    -fx-padding: 0;
}

.table-view {
    /*-fx-table-cell-border-color: transparent;*/
}

.callsign {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.realname {
    -fx-font-size: 18;
}

.container {
    -fx-background-color: -vatsim-background-color;
}

.container * {
    -fx-text-fill: -vatsim-text-color;
}

.icon-button {
    -fx-background-insets: none;
    -fx-background-color: transparent;
    -fx-pref-width: -vatsim-toolbar-button-size;
    -fx-pref-height: -vatsim-toolbar-button-size;
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.icon-button:selected {
    -fx-background-color: -vatsim-background-color-very-light;
    /*-fx-background-color: green;*/
}

.icon-button:hover {
    -fx-background-color: -vatsim-background-color-light;
    /*-fx-background-color: pink;*/
}

.icon-button:selected:hover {
    -fx-background-color: -vatsim-background-color-very-very-light;
    /*-fx-background-color: red;*/
}

.icon-button .ikonli-font-icon {
    -fx-icon-color: -vatsim-text-color;
    -fx-icon-size: -vatsim-toolbar-button-icon-size;
}

.icon-button .ikonli-font-icon:error {
    -fx-icon-color: -vatsim-error-color;
}


.tab-header-background {
    -fx-background-color: -vatsim-background-color;
}

.tab {
    -fx-background-color: -vatsim-background-color-light;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
}

.tab:selected {
    -fx-background-color: -vatsim-background-color-very-light;
}

.tab:hover {
    -fx-background-color: -vatsim-background-color-very-very-light;
}

.tab * {
    -fx-text-fill: -vatsim-text-color;
}

.button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: -vatsim-text-color;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}

.context-menu {
    -fx-background-color: -vatsim-background-color-very-light;
    -fx-padding: 0;
    -fx-effect: none;
}

.context-menu > * > .separator > .line {
    -fx-border-color: transparent;
}

.menu-item {
    -fx-padding: 0;
}

.menu-item .label {
    -fx-font-family: "B612 Mono";
    -fx-text-fill: -vatsim-text-greyed-out;
}

.default-font {
    -fx-font-family: none;
}

.menu-item:hover {
    -fx-background-color: -vatsim-background-color-very-very-light;
}

.menu-item:focused {
    -fx-background-color: -vatsim-background-color-very-very-light;
}

.menu-item-data {
    -fx-cursor: hand;
}

.menu-item-data .label {
    -fx-font-family: "B612 Mono";
    -fx-text-fill: -vatsim-text-greyed-out;
}

.menu-item-data:hover {
    -fx-background-color: -vatsim-background-color-very-very-light;
}

.menu-item-data:focused {
    -fx-background-color: -vatsim-background-color-very-very-light;
}

.menu-item-header .label {
    -fx-text-fill: -vatsim-text-color;
}

.menu-item-header:hover {
    -fx-background-color: transparent;
}

.menu-item-header:focused {
    -fx-background-color: transparent;
}

.mono {
    -fx-font-family: "B612 Mono";
}

.hyperlink-label {
    -fx-underline: true;
    -fx-cursor: hand;
}

.hyperlink-label:hover {
    -fx-text-fill: -vatsim-text-color-light;
}

.text-field {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-min-height: 0;
    -fx-text-fill: -vatsim-text-color;
    -fx-background-color: -vatsim-background-color-very-very-light;
    -fx-highlight-fill: -vatsim-background-color-very-very-very-light;
    -fx-highlight-text-fill: -vatsim-text-color-light;
    -fx-prompt-text-fill: -vatsim-text-color-dark;
}