* {
    -vatsim-background-color: #0E0C06;
    -vatsim-background-color-light: #17130a;
    -vatsim-background-color-very-light: #2B2313;
    -vatsim-text-color: #5f553d;
}

.description {
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-padding: 0;
}

.table-cell {
    -fx-padding: 0;
}

.table-view {
    /*-fx-table-cell-border-color: transparent;*/
}

.callsign {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.realname {
    -fx-font-size: 18;
}

.container {
    -fx-background-color: -vatsim-background-color;
}

.container * {
    -fx-text-fill: -vatsim-text-color;
}

.tab-header-background {
    -fx-background-color: -vatsim-background-color;
}

.tab {
    -fx-background-color: -vatsim-background-color-light;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: -vatsim-background-color-very-light;
}

.tab * {
    -fx-text-fill: -vatsim-text-color;
}

.button {

}

.button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: -vatsim-text-color;
}

.button:hover {
    -fx-background-color: -vatsim-background-color-very-light;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}