.container {
    -fx-background-color: -vatprism-2-content-fill;
}

.detail-container {
    -fx-background-color: -vatprism-2-divider-fill;
    -fx-spacing: 1;
}

.data-detail-pane {
    -fx-background-color: -vatprism-2-divider-fill;
    -fx-spacing: 1;
    -fx-padding: 1 0 0 0;
}

.header-pane {
    -fx-background-color: -vatprism-2-structure-fill;
    -fx-alignment: center;
    -fx-pref-height: 25;
    -fx-max-height: infinity;
}

.header-pane .header-label {
    -fx-font-size: 120%;
}

.text-area .content {
    -fx-background-color: -vatprism-2-content-fill;
    -fx-background-radius: 0;
}

.text-area {
    -fx-background-color: -vatprism-2-content-fill;
    -fx-text-box-border: transparent;
    -fx-background-insets: 0;
    -fx-highlight-fill: -vatprism-2-text-area-highlight-fill;
    -fx-highlight-text-fill: -vatsim-text-color-light;
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-box-border: none;
}

.text-area:focused {
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-radius: 0;
}

.detail-view-container2 {
    -fx-background-color: -vatprism-2-divider-fill;
    -fx-padding: 0 0 1 1;
    /*-fx-effect: -vatsim-dropshadow;*/
}
