* {
    -blurple: #7289DA;
    -greyple: #99AAB5;
}


/*.discord-button {*/
/*    -fx-background-radius: 3;*/
/*    -fx-background-color: -blurple;*/
/*}*/

/*.discord-button:selected {;*/
/*    -fx-background-color: -blurple;*/
/*}*/

/*.discord-button:hover {;*/
/*    -fx-background-color: -blurple;*/
/*}*/

/*.discord-button:selected:hover {;*/
/*    -fx-background-color: -blurple;*/
/*}*/

.discord-button .ikonli-font-icon {
    -fx-icon-color: #5865F2;
}

/*.discord-button .ikonli-font-icon:hover {*/
/*    -fx-icon-color: white;*/
/*}*/

/*.github-button {*/
/*    -fx-background-radius: 3;*/
/*    -fx-background-color: white;*/
/*}*/

/*.github-button:selected {*/
/*    -fx-background-color: white;*/
/*}*/

/*.github-button:selected:hover {*/
/*    -fx-background-color: white;*/
/*}*/

/*.github-button:hover {*/
/*    -fx-background-color: white;*/
/*}*/

.github-button .ikonli-font-icon {
    -fx-icon-color: #171516;
}

/*.github-button .ikonli-font-icon:hover {*/
/*    -fx-icon-color: black;*/
/*}*/
