.search-box-text-field,
.search-box {
    -fx-pref-width: 200;
    -fx-max-width: 200;
}

.search-box .ikonli-font-icon {
    -fx-icon-color: -vatsim-text-color-dark;
}

.search-box .clear-icon {
    -fx-icon-color: -vatsim-text-color;
}

.search-box .clear-icon:hover {
    -fx-icon-color: -vatsim-text-color-light;
}

.search-box-text-field {
}

.search-box-results-holder {
    -fx-background-color: -vatsim-background-color-very-light;
    -fx-effect: -vatsim-dropshadow;
}

.search-box-progress-indicator {
    -fx-progress-color: -vatsim-text-color;
}

.list-cell:filled:hover {
    -fx-background-color: -vatsim-background-color-very-very-light;
}

.list-cell:empty {
    -fx-background-color: transparent;
}
